<% include header %>

  <table>
    <tr>
      <td>營益分析表</td>
      <td>https://finance-express.herokuapp.com/twse/mops?stockId=2330&year=102&type=big5</td>
      <td>TYPEK=otc (上櫃)</td>
    </tr>
      <td>財務分析表</td>
      <td>https://finance-express.herokuapp.com/twse/mops/financial?stockId=2330&year=102&type=big5</td>
      <td>TYPEK=otc (上櫃)</td>
   </tr>
      <td>毛利率</td>
      <td>https://finance-express.herokuapp.com/twse/mops/grossProfit?stockId=2330&year=102&type=big5</td>
   </tr>
      <td>存貨週轉率</td>
      <td>https://finance-express.herokuapp.com/twse/mops/inventoryTurnover?stockId=2330&year=102&type=big5</td>
   </tr>
      <td>應收帳款週轉率</td>
      <td>https://finance-express.herokuapp.com/twse/mops/averageCollectionTurnover?stockId=2330&year=102&type=big5</td>
    </tr>
  </table>

<% include footer %>
