<% include header %>

  <table>
    <tr>
      <td>營益分析表</td>
      <td>http://10.1.20.126:3000/twse/mops?stockId=2330&year=102</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
    </tr>
  </table>

<% include footer %>
